* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
}

.add-school-success-info {
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    background-color: darkgreen;
}

.edit-school-success-info {
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    background-color: darkgreen;
}

.screen-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.button {
    width: 30%;
    height: 20%;
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 0;
    background-color: #ed872d;
    color: #FFF;
    transition: .5s;
    text-decoration: none;
}

.button:hover {
    background-color: #ff7518;
}

.grow-3 {
    flex-grow: 4;
}

.grow-1 {
    flex-grow: 1;
}
