<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administruj Użytkownikami</title>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet">
    <link th:href="@{/styles/administration/employees/main.css}" rel="stylesheet">
</head>
<body>
<nav>
    <div th:insert="navbar.html :: navbar"/>
</nav>
<div class="container">
    <div class="screen-section grow-3">
        <div class="employees-container">
            <div class="display-flex gap-10">
                <a class="add-employee-button" th:href="@{/administration/employees/new}">DODAJ PRACOWNIKA</a>
                <a class="add-employee-button" th:href="@{/administration/employees/attach}">PRZYPISZ PRACOWNIKA DO
                    SZKOŁY</a>
            </div>
            <table style="width: 100%">
                <thead>
                <tr>
                    <th> Login</th>
                    <th> Imię</th>
                    <th> Nazwisko</th>
                    <th> Płeć</th>
                    <th> Dane szkoły</th>
                    <th> Identyfikator szkoły</th>
                    <th></th>
                </tr>
                </thead>
                <body>
                <tr th:if="${employees.empty}">
                    <td colspan="2"> Brak aktywnych pracowników w systemie</td>
                </tr>
                <tr th:each="employee : ${employees}">
                    <td><span th:text="${employee.login}"> Login </span></td>
                    <td><span th:text="${employee.firstName}"> Login </span></td>
                    <td><span th:text="${employee.lastName}"> Login </span></td>
                    <td><span th:text="${employee.gender}"> Login </span></td>
                    <td><span th:text="${employee.schoolNameAndAddress}"> Login </span></td>
                    <td><span th:text="${employee.schoolIdentifier}"> Identyfikator szkoły </span></td>

                    <td><a class="delete" th:href="@{'employees/delete/' + ${employee.login} + '/' + ${employee.schoolIdentifier}}">USUŃ</a></td>
                </tr>
                </body>
            </table>
        </div>
    </div>
    <div class="screen-section grow-1"></div>
    <div class="screen-section grow-1"></div>
</div>
</body>
</html>