<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Szkoły</title>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html :: navbar"/>
<table>
    <thead>
    <tr>
        <th> Nazwa</th>
        <th> Opis</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${schools.empty}">
        <td colspan="2"> Brak szkół do wyświetlenia</td>
    </tr>
    <tr th:each="school : ${schools}">
        <td><span th:text="${school.name}"> Title </span></td>
        <td><span th:text="${school.description}"> Author </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>