<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="${school.name}"></title>

    <link th:href="@{/styles/navbar.css}" rel="stylesheet">
    <link th:href="@{/styles/school-info.css}" rel="stylesheet">
</head>
<body>

<div th:insert="navbar.html :: navbar"/>

<div class="container">
    <div class="buttons-container">
        <a th:if="${employeeAllowedToAddSchedule}" class="button"
           th:href="@{/{schoolIdentifier}/courses(schoolIdentifier=${school.shortName})}">ZARZĄDZAJ</a>

        <a sec:authorize="hasAuthority('USER')" class="button"
           th:href="@{/{schoolIdentifier}/courses/sign(schoolIdentifier=${school.shortName})}">ZAPISZ SIĘ NA KURS</a>
    </div>
</div>

</body>
</html>