<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szkoły</title>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet">
    <link th:href="@{/styles/schools.css}" rel="stylesheet">

</head>
<body>

<div th:insert="navbar.html :: navbar"/>

<div class="container">
    <div class="schools">
        <table>
            <thead>
            <tr>
                <th> Nazwa</th>
                <th> Opis</th>
                <th> Miejscowość</th>
                <th> Ulica</th>
                <th> Numer budynku</th>
                <th> Numer lokalu</th>
                <th> Kod pocztowy</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${schools.empty}">
                <td colspan="2"> Brak szkół do wyświetlenia</td>
            </tr>
            <tr th:each="school : ${schools}">
                <td><span th:text="${school.name}"> Nazwa </span></td>
                <td><span th:text="${school.description}"> Opis </span></td>
                <td><span th:text="${school.city}"> Miejscowość </span></td>
                <td><span th:text="${school.street}"> Ulica </span></td>
                <td><span th:text="${school.numberOfTheBuilding}"> Numer budynku </span></td>
                <td><span th:text="${school.flatNumber}"> Number lokalu </span></td>
                <td><span th:text="${school.postCode}"> Kod pocztowy </span></td>
                <td><a th:href="@{schools/{school}(school=${school.shortName})}">Przejdź</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>