<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title th:text="${school.name}"></title>

    <link th:href="@{/styles/navbar.css}" rel="stylesheet">
    <link th:href="@{/styles/school-info.css}" rel="stylesheet">
</head>
<body>

<div th:insert="navbar.html :: navbar"/>

<div class="container">
    <a th:if="${employeeAllowedToAddSchedule}" class="manage-button" th:href="@{/{schoolIdentifier}/courses(schoolIdentifier=${school.shortName})}">ZARZĄDZAJ</a>
    <h1 class="school-name" th:text="${school.name}"></h1>
    <p class="school-description" th:text="${school.description}"></p>
    <h3 class="header">Dostępne kursy</h3>

    <div class="courses-section">
        <div class="courses">
            <div class="course" th:each="course: ${courses}">
                <div class="course-name" th:text="${course.name}"></div>
                <div class="course-info-section">
                    <div class="course-description" th:text="${course.description}"></div>
                    <div class="course-level-details-section">
                        <div class="course-level-details-holder">
                            <div class="course-detail">
                                <span><b>Poziom: </b></span><span th:text="${course.level}"></span>
                            </div>
                            <div class="course-detail">
                                <span><b>Grupa: </b></span><span th:text="${course.ageGroup}"></span>
                            </div>
                            <div class="course-detail">
                                <span><b>Styl: </b></span><span th:text="${course.style}"></span>
                            </div>
                        </div>
                        <div class="sign-button-holder">
                            <a class="sign-button" href="/">Zobacz haromonogramy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="header">Instruktorzy</h3>
    <div class="instructors-section">
        <div class="instructors">
            <div class="instructor">
                <div class="image-holder">
                    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png" width="100%" height="100%">
                </div>
                <div class="instructor-info">
                    <div class="instructor-name">Paweł Różyński</div>
                    <div class="instructor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div class="instructor">
                <div class="image-holder">
                    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png" width="100%" height="100%">
                </div>
                <div class="instructor-info">
                    <div class="instructor-name">Krzysztof Bąk</div>
                    <div class="instructor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
            <div class="instructor">
                <div class="image-holder">
                    <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Profile-720.png" width="100%" height="100%">
                </div>
                <div class="instructor-info">
                    <div class="instructor-name">Bartek Alias</div>
                    <div class="instructor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">-->
<!--    <div class="buttons-container">-->
<!--        <a th:if="${employeeAllowedToAddSchedule}" class="button"-->
<!--           th:href="@{/{schoolIdentifier}/courses(schoolIdentifier=${school.shortName})}">ZARZĄDZAJ</a>-->

<!--        <a sec:authorize="hasAuthority('USER')" class="button"-->
<!--           th:href="@{/{schoolIdentifier}/courses/sign(schoolIdentifier=${school.shortName})}">ZAPISZ SIĘ NA KURS</a>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>