<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet">
    <link th:href="@{/styles/home.css}" rel="stylesheet">
</head>
<body>
<nav>
<div th:insert="navbar.html :: navbar"/>
</nav>
<header>
    <h1>Znajdź szkołę taneczną</h1>
    <div class="container">
    <div class="city-form">
        <form th:action="@{/schools}" method="get">
            <h2>Podaj miasto:</h2>
            <input class="input_field" type="text" id="city" name="city" th:name="city" autofocus="autofocus"/> <br/>
            <input class="button input_field" type="submit" value="WYSZUKAJ"/>
        </form>
    </div>
</div>
</header>

</body>
</html>