<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link th:href="@{/styles/navbar.css}" rel="stylesheet">
</head>

<body>
<nav th:fragment="navbar" class="navbar">
            <div class="navbar-wrapper">
                <div class="logo">
                    <a th:href="@{/home}"><img src="../images/logo_portal2.png" title="logo" alt="logo"></a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <ul class="menu-list">
                        <li><a th:href="@{/login}" >Logowanie</a></li>

                        <li><a th:href="@{/register}" >Rejestracja</a></li>

                    </ul>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <ul class="menu-list">
                    <li>  <a th:href="@{/logout}" >Wyloguj się</a></li>
                    </ul>
                </div>
            </div>
</nav>
</body>
</html>