* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/taniec1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.schools {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/*dodać porządne stylowanie do szkół i w zasadzie to przerobić tą listę na nie tabele a jakiś ładny list component*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    color: white;
    border: 2px solid dimgrey;
}

tr:nth-child(even){background-color: rgba(241, 132, 54, 0.51)}

tr:nth-child(odd){background-color: rgba(214, 211, 208, 0.75)}



th {
    background-color: #ff7518;
    color: white;
}

