* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%;
}

.button {
    width: 30%;
    height: 15%;
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width: 0;
    background-color: #ed872d;
    color: #FFF;
    transition: .5s;
    text-decoration: none;
}

.button:hover {
    background-color: #ff7518;
}
